.err{
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

}
.errortxt{
    font-size: 20rem;
    color: rgb(230, 243, 255);
    font-weight: bold;
}

.btn11{
    margin-top: 1.5rem;
    padding: 1rem 1rem 1rem 1rem;
    background-color: rgb(0, 183, 255);
    color: aliceblue;
    border: 0;
    font-size: 2rem;
    font-weight: bolder;
    display:inline-block;
    border-radius: 1rem;
}